.block_triangle
	.triangle_left
		svg(
			viewbox="0 0 1000 100" 
			preserveAspectRatio="none" 
			class="triangle triangle_fill triangle_position")
			polygon(points="0,0 0,100 1000,100")
	.triangle_right
		svg(
			viewbox="0 0 1000 100" 
			preserveAspectRatio="none" 
			class="triangle triangle_fill triangle_position")
			polygon(points="0,100 1000,100 1000,0")