extends ../layout.pug 

block content
		.wrapper
			- var autor = 'Іван Холод';
			- var desc = 'Особистий сайт Front-end Developer';
			include ../blocks/header.pug
			include ../blocks/hero.pug
			section.section.about
				.about__left
					svg(
						viewbox="0 0 1000 100" 
						preserveAspectRatio="none" 
						class="triangle triangle_fill_white triangle_position")
						polygon(points="0,0 0,100 1000,100")
					svg(
						viewbox="0 0 1000 100" 
						preserveAspectRatio="none" 
						class="triangle triangle_fill_beige triangle_position triangle__visible")
						polygon(points="0,100 1000,100 1000,0")
					+title ('Про мене', 'vector_about.png', 'about__section-title')
					.user-about
						.user-about__picture
							img(src="./img/ava.jpg", alt="")
						.user-about__title.subtitle
							|Хто я
						.user-about__text
							p Я веб-розробник з Києва. Мені 29 років
							p Це другий параграф. Тут більш детально про мене але не багато тексту. Все це буде заповнюватись через адмінку.
				.about__right
					svg(
						viewbox="0 0 1000 100" 
						preserveAspectRatio="none" 
						class="triangle triangle_fill_beige triangle_position triangle__visible")
						polygon(points="0,100 1000,100 1000,0")
					.about-data
						.about-data__description.about-user-info
							.about-user-info__title
								.subtitle 
									| Чим я можу бути вам корисним
							.about-user-info__text
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, quia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, quia.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, quia.
						.about-data__content
							ul.skills
								li.skills__item Frontend
									.skill-section
										ul.skill-section__list
											each index in addSkillFront
												li.skills-section__item(data-skill=`${index.persent}`)
														+circle_svg(`${index.name}`)
								li.skills__item Backend
									.skill-section
										ul.skill-section__list
											each index in addSkillBack
												li.skills-section__item(data-skill=`${index.persent}`)
														+circle_svg(`${index.name}`)
								li.skills__item WorkFlow
									.skill-section
										ul.skill-section__list
											each index in addSkillWorkFlow
												li.skills-section__item(data-skill=`${index.persent}`)
														+circle_svg(`${index.name}`)
			section.section.maps
				.block_accordion-map.accordion Карта
				#map.map
			include ../blocks/footer.pug