extends ../layout.pug 

block content
		.admin_wrapper
			main.admin_content
				header.header_admin 
					.admin_title Панель адміністрування
					.admin_backHome
						a(href="/") Повернутися на сайт 
				section.content_tabs
					.tabs_menu
						.tabs_menu-item._admin_active(data-tab-name="tab-1") Про мене
						.tabs_menu-item(data-tab-name="tab-2") Блог
						.tabs_menu-item(data-tab-name="tab-3") Мої роботи
						.tabs_menu-item(data-tab-name="tab-4") Мої скіли
					.tabs_content 
						.admin_img
							img(src="./img/admin.jpg", alt="")
						.tab.tab-1._admin_active 
							form#admin-about-me.admin-form.admin-about-me
								fieldset.admin-about-me-box Frontend
									each index in addSkillFront
										label.admin-about-me-label= index.name
											input(name=`${index.keyname}` type="number" maxlength="3"  value=`${index.persent}`)
								fieldset.admin-about-me-box Backend
									each index in addSkillBack
										label.admin-about-me-label= index.name
											input(name=`${index.keyname}` type="number" maxlength="3"  value=`${index.persent}`)
								fieldset.admin-about-me-box Workflow
									each index in addSkillWorkFlow
										label.admin-about-me-label= index.name
											input(name=`${index.keyname}` type="number" maxlength="3"  value=`${index.persent}`)
						.tab.tab-2 
							form#admin-blog(action ="" method="POST").admin-form.admin-blog
								p Добавити запис
								.status 
								input(name="list" type="number" placeholder="Номер статті")#admin-blog__article-list
								input(name="title" type="text" placeholder="Назва")#admin-blog__article-title
								input(name="date" type="text" placeholder="Дата")#admin-blog__article-data
								textarea(name="text" rows="8" cols="50" placeholder="Зміст")#admin-blog__article-content
								.admin_save_button
									input(name="" type="submit" value="Добавити")
						.tab.tab-3
							form#admin-works.admin-form.admin-works
								p Добавити Роботу
								input(type="text" placeholder="Назва проекта")#admin-works__project-title
								input(type="text" placeholder="Технології")#admin-works__project-technologies
								input(type="text" placeholder="Посилання")#admin-works__project-link
								p
									label.admin-works__project-select-image Вибрати зображення
									input(type="file")#admin-works__project-select-image
							.admin_save_button 
								span#admin-works__save Добавити
						.tab.tab-4
							form#admin-add__skill.admin-form.admin-add__skill
								p Добавити запис
								.status 
								select(name="skillList")
									option(value="front") Front
									option(value="back") Back
									option(value="workflow") Workflow
								input(name="name" type="text" placeholder="Назва вміння")
								input(name="keyname" type="text" placeholder="Назва ключа")
								input(name="persent" type="number" placeholder="%")
								.admin_save_button
									input(name="" type="submit" value="Добавити")