extends ../layout.pug

block content
		.wrapper
			- var autor = 'Блог';
			- var desc = 'Мої статті';
			include ../blocks/header.pug
			include ../blocks/hero.pug
			section.section.blog
				include ../blocks/triangle.pug
				.section-articles
					aside.blog_aside
						ul.blog_aside__list
							each index in items
								li.blog_aside__item
									a(href="#" data-scroll=`.artticle${index.list}`).blog_aside__link= index.title
					.articles-list
						.article-list-box
							each index in items
								article(data-article=`.goto${index.list}`).article.artticle1
									.article__header= index.title
									.article__data= index.date
									.article__text= index.text
			include ../blocks/footer.pug